wrapper/
cache/
native/
caches/

*.class

# Package Files #
*.jar
*.war
*.ear
*.iml
.idea
build
.gradle
/.nb-gradle/private/
out
classes/
build-info.properties
.envrc
metrics*.log

.gradletasknamecache

# crApple #
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
